<mat-card class="search-panel">

  <!-- Ligne 1 : Filtres -->
  <div class="filters-row">
    <div class="field">
      <label>Session</label>
      <input matInput type="number" [(ngModel)]="session" placeholder="e.g. 2025">
    </div>

    <div class="field">
      <label>Exam Code</label>
      <input matInput [(ngModel)]="examCode" type="text"
        placeholder="e.g. 5100">
    </div>

    <div class="field">
      <label>Centre Code</label>
      <input
        matInput
        type="text"
        placeholder="e.g. 13028"
        [(ngModel)]="centerNumber" (input)="centerNumber = centerNumber.trim()">
    </div>
  </div>

  <!-- Ligne 2 : Recherche principale -->
  <div class="search-row">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      matInput
      class="search-input"
      placeholder="Search candidate by NAME (required)"
      [(ngModel)]="keyword">
    <button
      mat-raised-button
      color="primary"
      (click)="search()">
      Search
    </button>
  </div>

</mat-card>

<!-- 🔍 QUICK FILTER -->
<div class="flex justify-between mb-2">
  <div class="w-80">
    <div class="flex rounded-md">
      <button
        type="button"
        class="inline-flex justify-center items-center h-[2.875rem] w-[2.875rem] ltr:rounded-l-md border bg-primary text-white">
        🔍
      </button>
      <input
        type="text"
        (input)="onQuickFilter($event)"
        class="ti-form-input rounded-none ltr:rounded-r-md"
        placeholder="Search in table..." />
    </div>
  </div>
</div>

<!-- 📊 TABLE -->
<div class="col-span-12">
  <div class="box">
    <div class="box-body p-0">
      <div style="height: 65vh;">
        <ag-grid-angular
          style="width: 100%; height: 100%"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          [quickFilterText]="quickFilterText"
          [class]="themeClass()"
          (cellClicked)="onCellClicked($event)">
        </ag-grid-angular>

      </div>
    </div>
  </div>
</div>

<!--<ag-grid-angular
  class="ag-theme-alpine"
  style="width:100%; height:600px"
  rowModelType="infinite"
  [pagination]="true"
  [paginationPageSize]="50"
  [cacheBlockSize]="50"
  [maxBlocksInCache]="2"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>-->

