<div class="modal fade show d-block" id="import-multiple-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Import Multiple PDF Files</h5>
        <button type="button" class="btn-close" (click)="closePopup()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="importForm">

          <!-- Exam Year -->
          <div class="mb-3">
            <label>Exam Year</label>
            <input type="number" class="form-control"
                   formControlName="examYear"
                   [class.is-invalid]="submitted && f['examYear'].errors">
          </div>

          <!-- Exam Code -->
          <div class="mb-3">
            <label>Exam Code</label>
            <input type="text" class="form-control"
                   formControlName="examCode"
                   [class.is-invalid]="submitted && f['examCode'].errors">
          </div>

          <!-- Center Number -->
          <div class="mb-3">
            <label>Center Number</label>
            <input type="text" class="form-control"
                   formControlName="centerNumber"
                   [class.is-invalid]="submitted && f['centerNumber'].errors">
          </div>

          <!-- Files -->
          <div class="mb-3">
            <label>Select PDF files</label>
            <input type="file" class="form-control" multiple (change)="onFilesSelected($event)">
          </div>

        </form>

        <div *ngIf="selectedFiles.length > 0" class="alert alert-info mt-3">
          {{ selectedFiles.length }} file(s) selected
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closePopup()">Cancel</button>
        <button class="btn btn-primary" (click)="uploadFiles()">Upload</button>
      </div>

    </div>
  </div>
</div>
