.dialog-content {
  height: 80vh;
  width: 70vw;
}

.loading {
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}

:host {
  display: block;
  height: 100%;
}

.dialog-content {
  height: calc(100vh - 64px); // 64px = header + actions
  padding: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

.pdf-container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: calc(100vh - 56px); // laisse la place au bouton
  background: #2e2e2e;
}

.pdf-frame {
  border: none;
  width: 100%;
  height: 100%;
}

mat-progress-spinner {
  margin: auto;
}

.close-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}
