trigger:
  branches:
    include:
      - master

stages:
- stage: BuildAndDeploy
  displayName: 'Build and Deploy Back-End to All Agencies'
  jobs:
  - job: DeployToAgencies
    displayName: 'Deploy'
    strategy:
      matrix:
        DC_VAL_DLA_01:
          agentName: DC-VAL-DLA-01
          location: Douala Akwa
    pool:
      name: 'default'
      demands:
        - Agent.Name -equals $(agentName)
    steps:
    - checkout: self
      clean: false
      displayName: 'Update code'

    - script: |
        npm install
      displayName: 'Install dependencies'

    - script: |
        npm run prebuild
      displayName: 'Get Hote Name'

    - script: |
        npm run build
      displayName: 'Build Angular'

    - script: |
        xcopy C:\inetpub\wwwroot\GCEBC_temp\* C:\inetpub\wwwroot\GCEBC\ /E /H /Y /C
        copy "C:\inetpub\wwwroot\GCEBC\assets\web.config" "C:\inetpub\wwwroot\GCEBC\web.config"
      displayName: 'Deploy project'
