<!-- contract-type-list.component.html -->
<app-page-header
  title="Human Resources"
  title1="Configuration"
  activeitem="Contract Types">
</app-page-header>

<app-search-bar
  [(quickFilterText)]="quickFilterText"
  [buttonLabel]="'Create Contract Type'"
  (buttonClick)="createContractType()">
</app-search-bar>

<div style="height: 60vh">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    [rowData]="rowData()"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [class]="themeClass()"
    [quickFilterText]="quickFilterText"
    (gridReady)="onGridReady($event)"
  />
</div>

<app-contract-type-form
  [contractTypeToUpdate]="contractTypeToEdit"
  (contractTypeSaved)="loadContractTypes()">
</app-contract-type-form>
