<app-page-header
  title="Human Resources"
  title1="Employees"
  activeitem="Transfers">
</app-page-header>

<app-search-bar
  [(quickFilterText)]="quickFilterText"
  [buttonLabel]="'Create Transfer'"
  (buttonClick)="createTransfer()">
</app-search-bar>

<div style="height: 60vh" class="ag-grid-container">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    [rowData]="rowData()"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [class]="themeClass()"
    [quickFilterText]="quickFilterText"
    (gridReady)="onGridReady($event)"
  />
</div>

<app-transfer-form
  [transferToUpdate]="transferToEdit"
  (transferSaved)="loadTransfers()">
</app-transfer-form>
