<div class="box">
  <div class="box-header flex justify-between items-center">
    <h3 class="box-title">Imported Batches</h3>

    <button class="ti-btn ti-btn-primary" (click)="importNewFiles()"> Import New Files </button>
    <button class="ti-btn ti-btn-primary mb-4" (click)="openImportModal()"> Import Multiple Files</button>

    <app-import-multiple></app-import-multiple>

  </div>

  <div class="box-body">

    <ag-grid-angular
      class="ag-theme-quartz"
      style="width: 100%; height: 600px;"
      [rowData]="batches"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef">
    </ag-grid-angular>

  </div>
</div>
