<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="524288000" />
          <!-- 500 MB -->
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebAPI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_URLS" value="http://localhost:5050" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>

    <system.web>
      <httpRuntime maxRequestLength="512000" />
      <!-- 500 MB -->
    </system.web>
    
  </location>
</configuration>
