
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@media print {

  #barcodes {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none !important;
    background: white;
  }

  body {
    @apply 'light';
  }


  #sidebar
  .main-sidebar-header
  .header
  {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  ng-select {
    touch-action: manipulation;
  }

}

/* ===== MODAL OVERLAY (GLOBAL) ===== */

.modal-overlay {
  position: fixed !important;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  width: 90%;
  height: 90%;
}


