.display-flex {
  display: flex;
}

.display-none {
  display: none !important;
}


@media print{
  .receipt{
   position: fixed;
   z-index: 1000;
   top: 0;
   right: 0;
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
   border: none !important;
  }

  .no-print{
    display: none !important
  }
  }
