.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
}

.inputWrapper svg {
  position: absolute;
  left: 8px;
  pointer-events: none;
}

.inputWrapper input {
  font-size: 14px;
  padding: 0.375em 0.75em 0.375em 2.4em;
  line-height: 1.4;
  border-radius: 6px;
  border: 1px solid var(--color-input-border, #d0d5dd);
  background-color: transparent;
  outline: none;
}


.exampleHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 8px;
  margin: var(--layout-grid-margin) var(--layout-grid-margin) 0;
}

.exampleHeader {
  padding-bottom: 16px;
  padding-top: 8px;
}
